# Node
node_modules/

# TypeScript build output
dist/

# CDK context
cdk.out/
.cdk.staging/
cdk.context.json

# Local env files
.env

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/ 